---
layout: null
---

<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" class="no-js">
  <head>
    {% include head.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes %} {{ page.classes | join: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% include_cached footer.html %}
    {% include scripts.html %}
  </body>
</html>
